

<div class="control-group">
    <h3>Spirits   
        <button class="btn btn-primary" v-on:click="addSpirit">Add Spirit</button> &nbsp
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#traditionLookup">Tradition Lookup</button> &nbsp
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#limitations">Limitations</button> &nbsp
        <button v-if="false" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#poolModCalc">Pool Mod Calc</button> &nbsp 
    </h3>
</div>
<hr>
<div v-for="(spirit,spiritIndex) in spiritList">
    <div class="card">
        <div class="card-body container">
            <div class='row form'>
                <div class="col-sm">
                    <label class="font-weight-bold">Type</label>
                    <select v-model="spirit.type" class="form-control" v-on:change="forceTypeEleCompliance(spiritIndex)">
                        <option v-for="type in types">{{type}}</option>
                    </select>
                </div>
                <div class="col-sm">
                    <label class="font-weight-bold">Element</label>
                    <select v-model="spirit.element" class="form-control" v-on:change="calcSpirit(spiritIndex)">
                        <option v-for="element in elements[spirit.type]">{{element}}</option>
                    </select>
                </div>
                <div class="col-sm">
                    <label class="font-weight-bold">Force</label>
                    <select v-model="spirit.force" class="form-control" v-on:change="calcSpirit(spiritIndex)">
                        <option v-for="i in 20">{{i}}</option>
                    </select>
                </div>
                <div class="col-sm">
                    <label class="font-weight-bold">Spirit Noticibility</label>
                    <div>{{getSpiritVisibility(spirit.force)}}</div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm">
                    Body: <b>{{spirit.body}}</b><br>
                    Strength:  <b>{{spirit.strength}}</b><br>
                    Intuition: <b>{{spirit.intuition}}</b><br>
                    Physical Initiative: {{spirit.phys_init}}<br>
                </div>
                <div class="col-sm">
                    Agility: <b>{{spirit.agility}}</b><br>
                    Willpower: <b>{{spirit.willpower}}</b><br>
                    Charisma: <b>{{spirit.charisma}}</b><br>
                    Astral Initiative: {{spirit.astral_init}}<br>
                </div>
                <div class="col-sm">
                    Reaction: <b>{{spirit.reaction}}</b><br>
                    Logic: <b>{{spirit.logic}}</b><br>
                    Magic: <b>{{spirit.magic}}</b><br>
                    Weakness: <b>{{spirit.weakness}}</b>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class='col-3'>Phys Condition:</div>
                        <div class="col-9">
                            <template v-for="i in spirit.condition_phys_max">
                                <div class="guage-check guage-check-inline">
                                    <input type="checkbox" disabled  v-bind:checked="i <= spirit.condition_phys_cur" class="guage-check-input guage-check-green guage-checked-red" >


                                </div>
                            </template>

                        </div>
                    </div>
                    <div class="row">
                        <div class='col-3'>Stun Condition:</div>
                        <div class="col-9">
                            <template v-for="i in spirit.condition_stun_max">
                                <div class="guage-check guage-check-inline">
                                    <input type="checkbox" disabled  v-bind:checked="i <= spirit.condition_stun_cur" class="guage-check-input guage-check-green guage-checked-yellow" >
                                </div>
                            </template>


                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group">
                            <button class="btn btn-secondary btn-sm form-control" v-on:click="damage(spiritIndex, true)">Heal</button>
                            <select v-model="spirit.cur_dmg_val" class="form-control">
                                <option v-for="i in 20">{{i}}</option>
                            </select>
                            <select v-model="spirit.cur_dmg_mode" class="form-control">
                                <option value="phys">Physical</option>
                                <option value="stun">Stun</option>
                            </select>
                            <button class="btn btn-secondary btn-sm form-control" v-on:click="damage(spiritIndex, false)">Damage</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    Modifier: <b>{{spirit.pool_modifier}}</b><br>
                    Special: {{spirit.special}}<br>
                    <div v-if="getSubtypeList(spirit) != null">
                        <select class="form-control" v-model="spirit.selected_subtype">
                            <option v-for="(optval, optkey) in getSubtypeList(spirit)">{{optkey}}</option>
                        </select>
                        {{getSubtypeText(spirit.type, spirit.selected_subtype)}}
                    </div>
                </div>
            </div>
            <hr>
            <!---Skills-->
            <div class="row" v-if="spirit.skillDetails" v-on:click="toggleSkillDetails(spiritIndex)" style="cursor:pointer">
                <table class="table table-striped">
                    <thead>
                        <th>Skill [-]</th>
                        <th>Pool</th>
                        <th>Attribute</th>
                    </thead>
                    <tbody>
                        <tr v-for="skill in spirit.skills">
                            <td>{{skill.name}}</td>
                            <td>{{skill.pool}}</td>
                            <td>{{skill.attribute}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" v-if="spirit.skillDetails == false" v-on:click="toggleSkillDetails(spiritIndex)" style="cursor:pointer">
                <b>Skills: [+]</b>
                <div>{{condenseSkills(spirit)}}</div>
            </div>
            <hr>
            <!---Powers-->
            <div class="row">
                <div><b>Powers</b></div>
                <div>Required: <span style="cursor:pointer" class="mx-1 badge text-bg-secondary" v-for="power in spirit.powers.required" v-on:click='setPowerTooltip(power)' data-bs-toggle='modal' data-bs-target='#powerExplanation'>{{getPowerName(power)}} <i class="bi bi-question-circle"></i></span></div>       
                <div>Optional: <div v-if='spirit.powers.picked.length > spirit.powers.numOptional' class="mx-1 badge text-bg-danger" style="cursor:pointer">!Too Many Powers!</div>  <div v-if='spirit.powers.picked.length < spirit.powers.numOptional' class="margin-left: 15px; badge text-bg-warning">!Pick More Powers!</div> 
                    <button style="margin-right: 5px;" v-on:click="pickPowers(spirit, spiritIndex)" class="badge text-bg-primary" data-bs-toggle="modal" data-bs-target="#powerPickModal"><i class="bbi bi-wrench"></i></button>
                    <span style="margin-right: 5px;" class="badge text-bg-secondary" v-for="power in spirit.powers.picked" v-on:click='setPowerTooltip(power)' data-bs-toggle='modal' data-bs-target='#powerExplanation'>{{getPowerName(power)}} <i class="bi bi-question-circle"></i></span>
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-sm" v-on:click="removeSpirit(spiritIndex)">X</button>
    </div>
</div>

<div class="modal fade" id="powerPickModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Pick Powers  <div v-bind:class="(optionalPowers.picked.length>optionalPowers.numOptional)?'badge text-bg-danger':'badge text-bg-success'">{{optionalPowers.picked.length}}/{{optionalPowers.numOptional}}</div></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
                <th>Picked</th>
                <th>Name</th>
                <th>Description</th>
            </thead>
            <tr v-for="option in optionalPowers.options">
                <td>
                    <label class="form-check-custom">
                        <input type="checkbox" v-model="optionalPowers.picked" v-bind:value="option._id"/>
                    </label>
                </td>
                <td>{{option.name}}</td>
                <td>
                    <button class='btn btn-secondary'  v-if="option.showDescription == false" v-on:click="showModalPowerDescription(option,true)">Show Description</button>
                    <div v-if="option.showDescription == true">
                        <button class='btn btn-secondary' v-on:click="showModalPowerDescription(option,false)"> Hide Description</button><br>
                        {{option.descript}}
                    </div>
                </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="pickPowersOk()">OK</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="traditionLookup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Tradition Lookup</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg">
                    <select v-model="traditions.active" class="form-control">
                        <option v-for="(tradition, traditionIndex) in traditions.list" v-bind:value="traditionIndex">{{tradition.name}}</option>
                    </select>
                </div>
            </div>
            <hr>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Function</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                    <tr v-for="(value,key) in traditions.list[traditions.active]">
                        <td>{{key[0].toUpperCase() + key.slice(1)}}</td>
                        <td>{{value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
</div>  

<div class="modal fade" id="powerExplanation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{powerTooltip.power.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm">
                    <b>Name:</b> {{powerTooltip.power.name}}<br>
                    <b>Range:</b> {{powerTooltip.power.power_range}} 
                </div>
                <div class="col-sm">
                    <b>Type:</b> {{powerTooltip.power.type}}<br>
                    <b>Action:</b> {{powerTooltip.power.action}}
                </div>
                <div class="col-sm">
                    <b>Duration:</b> {{powerTooltip.power.duration}}<br>
                    <b>Source:</b> {{powerTooltip.power.source}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg">
                    {{powerTooltip.power.descript}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="pickPowersOk()">OK</button>
        </div>
      </div>
    </div>
</div>  


<div class="modal fade" id="limitations" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Current Limitations</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg">
                    <ul>
                        <li>Skill pools do not take powers into account.</li>
                        <li>No pool is modified when damage is taken.</li>
                        <li>Insect spirit species-specific skills and powers are not fully integrated.</li>
                        <li>Spirit Noticibility is somewhat arbitrary and should be discussed with your DM.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="pickPowersOk()">OK</button>
        </div>
      </div>
    </div>
</div>  



<div class="modal fade" id="poolModCalc" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Dice Pool Modifier Calculator</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <ul class="nav nav nav-tabs">
                    <li class="nav-item">
                        <a href="#" v-bind:class="(tab=='types')?'nav-link active':'nav-link'" v-on:click="tab='types'">Shooting</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" v-bind:class="(tab=='types')?'nav-link active':'nav-link'" v-on:click="tab='types'">Melee</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" v-bind:class="(tab=='powers')?'nav-link active':'nav-link'" v-on:click="tab='powers'">Social</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" v-bind:class="(tab=='skills')?'nav-link active':'nav-link'" v-on:click="tab='skills'">Matrix</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" v-bind:class="(tab=='power-map')?'nav-link active':'nav-link'" v-on:click="tab='power-map';checkForNulls()">Power-Map</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" v-bind:class="(tab=='skill-map')?'nav-link active':'nav-link'" v-on:click="tab='skill-map';checkForNulls()">Skill-Map</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="pickPowersOk()">OK</button>
        </div>
      </div>
    </div>
</div>  